.container {
    margin: auto;
    background-color: #ffffff;
    padding-left:70px;
    padding-right:70px;

}
.title {
    font-family: "HelveticaNeue-CondensedBold" !important;
    text-align: center;
    padding: 20px;
    font-weight:bold;
}
