.container {
    margin: auto;
    background-color: #ffffff;

}
.title{
    text-align: center;
}
.card {
    background-color: #ffffff;
    
    width: 70%;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    margin: 70px auto;    
    display:block;
    outline-color: rgb(0, 32, 92);
    outline-width: 8px;
    outline-style: solid;
  }

  .drop {
    background-color: rgb(0, 32, 92);
    
    width: 300px;
    height: 40px;
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    margin: 0px auto;    
    display:block;
    cursor:pointer;
    
  }
  .drop:hover {
    background-color: rgb(30, 76, 163);

    
  }
  .item{
    background-color: rgb(0, 32, 92);
    border: none;
    width: 300px;
    height: 20px;
    color: rgb(255, 255, 255);
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    margin: 0px auto;    
    display:block;
    cursor:pointer;
    
  }
  .item:hover {
    background-color: rgb(50, 32, 92);
  }
  
  a:hover, a:active {
    background-color: rgb(209, 209, 230);
  }