.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    position: sticky;
    top: 0;
    width:100%;
    height: 44px;
    padding:0px 18px;
    left:0px;
    padding-bottom:10px;
    margin-top:5px;

    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    position:sticky;
}

.navbutton{
  padding: 3px;
  outline-color: rgb(0, 32, 92);
  outline-width: 2px;
  outline-style: solid;
  background: none;
  font-size: 100%;
  font-family: inherit;
  margin-top:5px;
}
.navbutton:focus{
  outline: none;
}

.navbutton:hover{
  background: none;
}

.icon{
  height:30px;
  width:auto;
}
