
.container {
    margin: auto;
    background-color: #ffffff;
  
}
.logo_main {height:150px;
width:auto;
display:block;
text-align:center;
margin-left: auto;
  margin-right: auto;
}


.title{text-align:center;
padding:20px;
font-weight:bold;
font-family: "HelveticaNeue-CondensedBold" !important;
}

.contbutton{
   background-color: rgb(0, 32, 92);

    border: 10px, solid;
    border-color: rgb(0, 32, 92);
    border-radius: 5px;
    outline:none;
    
    width: 300px;
    height: 40px;
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    margin: 0px auto;    
    display:block;
    cursor:pointer;
    margin-top:30px;
}

  .contbutton:hover {
    background-color: rgb(30, 76, 163);
}
  
  a:hover, a:active {
    color:white;
    background-color: rgb(209, 209, 230);
  }
