
.container {
    margin: auto;
    background-color: #ffffff;
  
}

.title{text-align:center;}

.contbutton{
   background-color: rgb(0, 32, 92);
    
    width: 300px;
    height: 40px;
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    margin: 0px auto;    
    display:block;
    cursor:pointer;
    margin-top:30px;
}

  .contbutton:hover {
    background-color: rgb(30, 76, 163);
}
  
  a:hover, a:active {
    color:white;
    background-color: rgb(209, 209, 230);
  }
